*, :before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page__style {
  background: #6D326D;
  font-family: OpenSans-Regular, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: auto auto;
  overflow-y: auto;
}

.page__style .page__description {
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

.page__style .navbar-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #000;
}

.page__style li {
  list-style: none;
  position: relative;
  display: block;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 2.2em;
  font-weight: 600;
  text-decoration: none;
  line-height: 1.4em;
}

.page__style li:hover {
  color: #fff;
  -webkit-text-stroke: 1px #000;
  -webkit-transition: 0.5;
  transition: 0.5;
  cursor: pointer;
}

.page__style li::before, .page__style li::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page__style li:hover::before {
  color: #f00;
  z-index: 1;
  -webkit-text-stroke: 1px #000;
  -webkit-transform: translate(3px, -3px);
          transform: translate(3px, -3px);
}

.page__style li:hover::after {
  color: #0ff;
  z-index: 2;
  -webkit-text-stroke: 1px #000;
  -webkit-transform: translate(6px, -6px);
          transform: translate(6px, -6px);
}

.animate_content {
  -webkit-animation: animate 3s ease;
          animation: animate 3s ease;
}

@-webkit-keyframes animate {
  10% {
    -webkit-transform: scale(1, 0.002);
            transform: scale(1, 0.002);
  }
  35% {
    -webkit-transform: scale(0.2, 0.002);
            transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.2, 0.002);
            transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    -webkit-transform: scale(1, 0.002);
            transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes animate {
  10% {
    -webkit-transform: scale(1, 0.002);
            transform: scale(1, 0.002);
  }
  35% {
    -webkit-transform: scale(0.2, 0.002);
            transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.2, 0.002);
            transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    -webkit-transform: scale(1, 0.002);
            transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.fadeIn {
  z-index: 10;
}

/*  home
-----------------------------------*/
.home {
  background-image: url(background1.jpg);
  background-size: 100% 100%;
}

/*  Projects
-----------------------------------*/
.projects {
  background: #BD5DE9;
}

/*  Skills
-----------------------------------*/
.skills {
  background: #5DE974;
}

/*  About
-----------------------------------*/
.about {
  background: #FB9B33;
}

/*  Contact
-----------------------------------*/
.contact {
  background: #C9CDC0;
}

/*****************************************************************
~ Mobile media-queries (max-width: 767px)
******************************************************************/
@media only screen and (max-width: 767px) {
  .page__description h1 {
    margin-top: 100px;
  }
}
/*# sourceMappingURL=style.css.map */